<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        #Checkboxes {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }
    </style>

</head>
<br />
<br />
<!-- Button to open the modal -->
<button onclick="document.getElementById('id01').style.display='block'">Click Here To Get Started</button>
<!-- The Modal (contains the Sign Up form) -->
<form action="/Home/FormCollection" method="post">
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" style="color:red">X</span>
        <div class="modal-content">
            <div class="container">
                <link href="~/Content/StyleSheet2.css" rel="stylesheet" type="text/css" />
                <h2 style="color:gold">What's Up</h2>
                <p>Enter information to see what's up</p>
                <hr>
                <label for="email" style="color:gold">Enter Email...</label>
                <input type="text" id="email" name="Email" placeholder="Enter Email Address.." required>
                <label for="addressline" style="color:gold">Enter House Address...</label>
                <input type="text" id="addressline" name="AddressLine" placeholder="Enter Address.." required>
                <label for="scat" style="color:gold">Satellite Category</label>
                <select size="9" multiple="multiple" onchange="" name="bigCategory" id="scat">
                    <option value="Astronomy">Astronomy Satellites</option>
                    <option value="AtmosphericStudies">Atmospheric Studies Satellites</option>
                    <option value="Communications">Communications Satellites</option>
                    <option value="Navigation">Navigation Satellites</option>
                    <option value="Reconaissance">Reconaissance Satellites</option>
                    <option value="RemoteSensing">Remote Sensing Satellites</option>
                    <option value="SearchRescue">Search & Rescue Satellites</option>
                    <option value="SpaceExploration">Space Exploration Satellites</option>
                    <option value="Weather">Weather Satellites</option>
                </select>
                <button type="submit" class="signupbtn">Enter Info.</button>
            </div>
        </div>
    </div>
</form>
<body>
    <h1 style="color:gold" align="center"><u>Map</u></h1>
    <div id="map"></div>
    <script>
        function initMap() {

            var geoLat = @ViewBag.GoogleLat;
            var geoLong = @ViewBag.GoogleLong;

            if (geoLat != null && geoLong != null) {

                var userLocation = { lat: geoLat, lng: geoLong }
                var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: userLocation });
                var contentString = '<h4 style="color:gold"><i>This is the entered location</i></h4>';

               var infowindow = new google.maps.InfoWindow({
                   content: contentString
                });

               var marker = new google.maps.Marker({
                   position: userLocation,
                   map: map,
                   icon: 'https://i.imgur.com/CaOG9uB.png'
               });
               marker.addListener('click', function () {
                   infowindow.open(map, marker);
                });

                   @if (ViewBag.CoordinatesComparison1 != null)
                   {
                       foreach (var satList in ViewBag.CoordinatesComparison1)
                       {
                                   double latitude = satList["satlat"].Value;
                                   double longitude = satList["satlng"].Value;
                                  <text>
               var satPosition = new google.maps.LatLng(@latitude, @longitude);
               var satContent =
                   '<h3 style="color:gold">Name:' + '<u>@satList["satname"]</u></h3>' +
                   '<h4 style="color:black">Latitude:' + '<u>@satList["satlat"]</u></h4>' +
                   '<h4 style="color:black">Longitude:' + '<u>@satList["satlng"]</u></h4>' +
                   '<h4 style="color:black">Altitude:' + '<u>@satList["satalt"]</u></h4>' +
                   '<h4 style="color:black">Launch Date:' + '<u>@satList["launchDate"]</u></h4>';

                var satInfoWindow = new google.maps.InfoWindow({
                    //position: satPosition,
                    content: satContent
                });


                var satMarker = new google.maps.Marker({
                    position: satPosition,
                    map: map,
                    info: satContent,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                });
                //satMarker.infowindow = satInfoWindow;
                google.maps.event.addListener(satMarker, 'click', function () {

                    satInfoWindow.setContent(this.info);
                    satInfoWindow.open(map, this);

                });
                //satMarker.addListener('click', function () {
                //    return this.infowindow.open(map, satMarker)
                //});
                                    </text>



                        }
                     }



                @if (ViewBag.CoordinatesComparison2 != null)
                    {
                        foreach (var satList in ViewBag.CoordinatesComparison2)
                        {
                                    double latitude = satList["satlat"].Value;
                                    double longitude = satList["satlng"].Value;
                                   <text>
                var satPosition = new google.maps.LatLng(@latitude, @longitude);
               var satContent =
                   '<h3 style="color:gold">Name:' + '<u>@satList["satname"]</u></h3>' +
                   '<h4 style="color:black">Latitude:' + '<u>@satList["satlat"]</u></h4>' +
                   '<h4 style="color:black">Longitude:' + '<u>@satList["satlng"]</u></h4>' +
                   '<h4 style="color:black">Altitude:' + '<u>@satList["satalt"]</u></h4>' +
                   '<h4 style="color:black">Launch Date:' + '<u>@satList["launchDate"]</u></h4>';

                var satInfoWindow = new google.maps.InfoWindow({
                    //position: satPosition,
                    content: satContent
                });


                var satMarker = new google.maps.Marker({
                    position: satPosition,
                    map: map,
                    info: satContent,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                });
                //satMarker.infowindow = satInfoWindow;
                google.maps.event.addListener(satMarker, 'click', function () {

                    satInfoWindow.setContent(this.info);
                    satInfoWindow.open(map, this);

                });
                //satMarker.addListener('click', function () {
                //    return this.infowindow.open(map, satMarker)
                //});
                                    </text>



                        }
              }
                @if (ViewBag.CoordinatesUnique != null)
               {
                        foreach (var satList in ViewBag.CoordinatesUnique)
                        {
                                    double latitude = satList["satlat"].Value;
                                    double longitude = satList["satlng"].Value;
                                   <text>
                var satPosition = new google.maps.LatLng(@latitude, @longitude);
               var satContent =
                   '<h3 style="color:gold">Name:' + '<u>@satList["satname"]</u></h3>' +
                   '<h4 style="color:black">Latitude:' + '<u>@satList["satlat"]</u></h4>' +
                   '<h4 style="color:black">Longitude:' + '<u>@satList["satlng"]</u></h4>' +
                   '<h4 style="color:black">Altitude:' + '<u>@satList["satalt"]</u></h4>' +
                   '<h4 style="color:black">Launch Date:' + '<u>@satList["launchDate"]</u></h4>';

                var satInfoWindow = new google.maps.InfoWindow({
                    //position: satPosition,
                    content: satContent
                });


                var satMarker = new google.maps.Marker({
                    position: satPosition,
                    map: map,
                    info: satContent,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
                });
                //satMarker.infowindow = satInfoWindow;
                google.maps.event.addListener(satMarker, 'click', function () {

                    satInfoWindow.setContent(this.info);
                    satInfoWindow.open(map, this);

                });
                //satMarker.addListener('click', function () {
                //    return this.infowindow.open(map, satMarker)
                //});
                                    </text>



                        }
               }

                @if (ViewBag.Coordinates1Address != null)
             {
                       foreach (var outerArray in ViewBag.Coordinates1Address)
                       {
                           if (outerArray["info"]["satcount"].Value != 0)
                           {
                               foreach (var innerArray in outerArray["above"])
                               {
                                   double latitude = innerArray["satlat"].Value;
                                   double longitude = innerArray["satlng"].Value;
                                  <text>
                var satPosition = new google.maps.LatLng(@latitude, @longitude);
               var satContent =
                   '<h3 style="color:gold">Name:' + '<u>@innerArray["satname"]</u></h3>' +
                   '<h4 style="color:black">Latitude:' + '<u>@innerArray["satlat"]</u></h4>' +
                   '<h4 style="color:black">Longitude:' + '<u>@innerArray["satlng"]</u></h4>' +
                   '<h4 style="color:black">Altitude:' + '<u>@innerArray["satalt"]</u></h4>' +
                   '<h4 style="color:black">Launch Date:' + '<u>@innerArray["launchDate"]</u></h4>';

                var satInfoWindow = new google.maps.InfoWindow({
                    //position: satPosition,
                    content: satContent
                });
                var satMarker = new google.maps.Marker({
                    position: satPosition,
                    map: map,
                    info: satContent,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'

                });
                //satMarker.infowindow = satInfoWindow;
                google.maps.event.addListener(satMarker, 'click', function () {
                    satInfoWindow.setContent(this.info);
                    satInfoWindow.open(map, this);
                });
                //satMarker.addListener('click', function () {
                //    return this.infowindow.open(map, satMarker)
                //});
                                   </text>
                                }
                           }
                       }

             }
            }
        }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleKey&callback=initMap">

    </script>

    <span>Information:</span>
    <u style="color:gold">
    <span>@ViewBag.LocationError</span>
    <span>@ViewBag.Error</span>
    <span>@ViewBag.Info</span>
    <span>@ViewBag.Count</span>
    </u><br /><br />
</body>
</html>
<form action="/Home/FormCollection" method="post">
    @if (TempData["Address"] != null)
    {
        <span>Entered Location:</span>
        <span style="color:gold"><u>@TempData["Address"]</u></span>

        <input type="hidden" id="email" name="Email" value="@TempData["Email"]" required>

        <label for="addressline" style="color:gold"></label>
        <input type="hidden" id="addressline" name="AddressLine" value="@TempData["Address"]" hidden>

        <br /> 
        <br />  
        <label for="address2"size><big><u>Add Another Address for Comparison</u></big></label>
        <input type="text" id="addressline" name="address2" placeholder="Optional..">



    }

    <span><h2 style="color:gold">Satellites</h2><input type="submit" value="Submit" /></span>
    <div id="Checkboxes">
        @using Whats_Up.Models;
        @{List<CheckBoxes> SatList = (List<CheckBoxes>)TempData["SatList"];}
        @if (SatList != null)
        {
            foreach (CheckBoxes x in SatList)
            {
                if (x.IsCheck == true)
                {
                    <span>@x.Name</span>
                    <input type="checkbox" name="@x.CheckName" value="@x.Value" checked /><br />
                }
                else
                {
                    <span>@x.Name</span>
                    <input type="checkbox" name="@x.CheckName" value="@x.Value" /><br />
                }

            }
        }
    </div>

    <br />
    <input type="submit" class="btn-primary" value="Add Satellites to Favorites" formaction="/Satellite/SaveFavorties" />
    <input type="reset" value="Reset Form" />
</form>
<div>Address 1</div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th align="center" style="color:gold">Sat ID</th>
        <th align="center" style="color:gold">Sat Name </th>
        <th align="center" style="color:gold">Sat Lat </th>
        <th align="center" style="color:gold">Sat Long</th>
        <th align="center" style="color:gold">Sat Alt</th>
        <th align="center" style="color:gold">Launch Date</th>
        <th align="center" style="color:gold">Int Designator</th>
    </tr>
    @if (ViewBag.TableInfo != null)
    {
        foreach (var satDataArray in ViewBag.TableInfo)
        {
            if (satDataArray["info"]["satcount"].Value != 0)
            {
                foreach (var satData in satDataArray["above"])
                {
                    <tr>
                        <td>@satData["satid"]</td>
                        <td>@satData["satname"]</td>
                        <td>@satData["satlat"]</td>
                        <td>@satData["satlng"]</td>
                        <td>@satData["satalt"]</td>
                        <td>@satData["launchDate"]</td>
                        <td>@satData["intDesignator"]</td>
                    </tr>
                }
            }
        }
    }

    @if (ViewBag.TableInfo1 != null)
    {
                foreach (var satData in ViewBag.TableInfo1)
                {
                    <tr>
                        <td>@satData["satid"]</td>
                        <td>@satData["satname"]</td>
                        <td>@satData["satlat"]</td>
                        <td>@satData["satlng"]</td>
                        <td>@satData["satalt"]</td>
                        <td>@satData["launchDate"]</td>
                        <td>@satData["intDesignator"]</td>
                    </tr>
                }
            
        
    }
</table>

<div>Address 2</div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th align="center" style="color:gold">Sat ID</th>
        <th align="center" style="color:gold">Sat Name </th>
        <th align="center" style="color:gold">Sat Lat </th>
        <th align="center" style="color:gold">Sat Long</th>
        <th align="center" style="color:gold">Sat Alt</th>
        <th align="center" style="color:gold">Launch Date</th>
        <th align="center" style="color:gold">Int Designator</th>
    </tr>
    @if (ViewBag.TableInfo2 != null)
    {
        foreach (var satData in ViewBag.TableInfo2)
        {
          
                
                    <tr>
                        <td>@satData["satid"]</td>
                        <td>@satData["satname"]</td>
                        <td>@satData["satlat"]</td>
                        <td>@satData["satlng"]</td>
                        <td>@satData["satalt"]</td>
                        <td>@satData["launchDate"]</td>
                        <td>@satData["intDesignator"]</td>
                    </tr>
                
            
        }
    }

</table>

<div>Both Addresses</div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th align="center" style="color:gold">Sat ID</th>
        <th align="center" style="color:gold">Sat Name </th>
        <th align="center" style="color:gold">Sat Lat </th>
        <th align="center" style="color:gold">Sat Long</th>
        <th align="center" style="color:gold">Sat Alt</th>
        <th align="center" style="color:gold">Launch Date</th>
        <th align="center" style="color:gold">Int Designator</th>
    </tr>
    @if (ViewBag.TableInfoCommon != null)
    {
        foreach (var satData in ViewBag.TableInfoCommon)
        {
            
                
                    <tr>
                        <td>@satData["satid"]</td>
                        <td>@satData["satname"]</td>
                        <td>@satData["satlat"]</td>
                        <td>@satData["satlng"]</td>
                        <td>@satData["satalt"]</td>
                        <td>@satData["launchDate"]</td>
                        <td>@satData["intDesignator"]</td>
                    </tr>
                
            
        }
    }

</table>
@*<div class="slidecontainer">
        <label for="radfrom" style="color:gold">Radius From Zip Code</label>
        <input type="range" min="1" max="20" value="10" class="slider" id="radfrom" name="radiusfromzip">
        <p>Value:<span id="slider"></span></p>
    </div>

    <script>
        var slider = document.getElementById("radfrom");
        var output = document.getElementById("slider");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>*@