
@{
    ViewBag.Title = "GetSatCat";
}

<h2>GetSatCat</h2>
@ViewBag.TableSatData

    <table class="table table-bordered table-responsive table-hover">

        <tr>
            <th>Sat ID</th>
            <th>Sat Name </th>
            <th>Sat Lat </th>
            <th>Sat Long</th>
            <th>Sat Alt</th>
            <th>Launch Date</th>
            <th>Int Designator</th>
        </tr>

        @foreach (var satDataArray in ViewBag.TableSatData)
        {
            if (satDataArray["info"]["satcount"].Value != 0)
            {
                foreach (var satData in satDataArray["above"])
                {
                <tr>
                    <td>@satData["satid"]</td>
                    <td>@satData["satname"]</td>
                    <td>@satData["satlat"]</td>
                    <td>@satData["satlng"]</td>
                    <td>@satData["satalt"]</td>
                    <td>@satData["launchDate"]</td>
                    <td>@satData["intDesignator"]</td>

                </tr>
                }
            }
        }
    </table>

